@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist Mono', 'Menlo', 'Monaco', 'Consolas', monospace;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;  /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #333;  /* darker thumb */
  border-radius: 4px;
  }

::-webkit-scrollbar-thumb:hover {
  background: #444;  /* slightly lighter on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #1a1a1a;  /* thumb and track colors */
}
